<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.indigo24">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.GifActivity"/>
        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.Profile" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Auth" />
        <activity android:name=".activities.Registr" />
        <activity android:name=".activities.Wallet" />
        <activity android:name=".activities.Community" />
        <activity android:name=".activities.Food" />
        <activity android:name=".activities.News" />
        <activity android:name=".activities.TV" />
        <activity android:name=".activities.Shops" />
        <activity android:name=".activities.Services" />
    </application>

</manifest>